{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags comments %}

{% block content %}
<div class="p-6">
    <!-- Konten Utama -->
    <div class="max-w-screen-xl mx-auto grid lg:grid-cols-3 gap-8 min-h-screen ">
        <!-- Artikel Utama -->
        <div class="lg:col-span-2 p-6">
            <h1 class="text-primary-950 text-5xl font-bold mb-2">{{ page.title }}</h1>
            <div class="border-y py-4 px-2 my-6 flex justify-between items-center text-gray-500">
                <div>
                    <p class="text-sm"><a href="" class="text-primary-500 capitalize">{{ page.owner }}</a> - {{ page.created_at|date:"d F Y" }}</p>
                </div>
                <div class="flex gap-8 items-center text-sm">
                    <a href="#comment-section" class="comments flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24">
                            <path fill="currentColor" fill-rule="evenodd" d="M2.5 12.096a9.5 9.5 0 1 1 9.5 9.5H3.25a.75.75 0 0 1-.53-1.28l2.053-2.054A9.47 9.47 0 0 1 2.5 12.096m9.5-8a8 8 0 0 0-5.657 13.657a.75.75 0 0 1 0 1.06l-1.282 1.283H12a8 8 0 1 0 0-16" clip-rule="evenodd" />
                        </svg>
                        <span>{{ comment_list.count }}</span>
                    </a>
                    <div class="share flex items-center gap-1 cursor-pointer" onclick="copyCurrentURL()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24">
                            <path fill="currentColor" fill-rule="evenodd" d="M12.588 5.02a4.525 4.525 0 0 1 6.399 6.399l-.01.01l-2.264 2.264a4.525 4.525 0 0 1-6.824-.489a.75.75 0 1 1 1.201-.898a3.026 3.026 0 0 0 4.562.327l2.26-2.26a3.026 3.026 0 0 0-4.278-4.277L12.34 7.383a.75.75 0 1 1-1.058-1.064zM8.905 9.266a4.525 4.525 0 0 1 5.205 1.53a.75.75 0 0 1-1.201.898a3.024 3.024 0 0 0-4.562-.327l-2.26 2.26a3.025 3.025 0 0 0 4.277 4.278l1.286-1.286a.75.75 0 0 1 1.061 1.06l-1.3 1.3a4.525 4.525 0 0 1-6.399-6.398l.01-.01l2.264-2.264a4.5 4.5 0 0 1 1.62-1.04" clip-rule="evenodd" />
                        </svg>
                        <span>Copy Link</span>
                    </div>
                </div>
            </div>

            <div class="overflow-hidden rounded-lg mb-6">
                {% image page.blog_image fill-1200x630 %}
            </div>
            <div class="description text-lg text-primary-950 prose prose-lg max-w-none prose-headings:text-primary-950 prose-p:text-primary-950 prose-a:text-primary-500 hover:prose-a:text-primary-600 prose-strong:text-primary-950 prose-ul:text-primary-950 prose-ol:text-primary-950">
              {{ page.body|richtext }}
            </div>
            
            <hr class="my-6">
            <section class="not-format" id="comment-section">
                <div class="flex justify-between items-center mb-6">
                    <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Tinggalkan pesan ({{ comment_list.count }})</h2>
                </div>
                {% render_comment_form for page %}
                {% render_comment_list for page %}
            </section>
        </div>

        <!-- Sidebar Info Lainnya -->
        <div class="bg-primary-50 p-6 shadow-md rounded-md h-fit">
            <h2 class="text-primary-950 text-2xl font-semibold mb-4">Info Lainnya</h2>
            <div class="space-y-4">
                {% for blog in other_blogs|slice:":4" %}
                <!-- Item Info -->
                <a href="{{ blog.url }}" class="flex gap-4">
                    {% image blog.blog_image fill-96x96 as blog_image %}
                    <img src="{{ blog_image.url }}" alt="{{ blog_image.title }}" class="w-24 h-24 object-cover rounded-lg">
                    <div>
                        <h3 class="text-primary-950 font-semibold text-lg">{{ blog.title }}</h3>
                        <p class="text-primary-500 text-sm">{{ blog.created_at|date:"d F Y" }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
 <script>
    function copyCurrentURL() {
        navigator.clipboard.writeText(window.location.href)
            .then(() => alert('Link berhasil disalin!'))
            .catch(err => console.error('Gagal menyalin link:', err));
        }
</script>
{% endblock %}
