{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="p-6">
    <!-- Konten Utama -->
    <div class="max-w-screen-xl mx-auto min-h-screen ">
        <!-- Artikel Utama -->
        <div class="lg:col-span-2 bg-primary-50 p-6 shadow-md rounded-lg">
            <h1 class="text-primary-950 text-4xl font-bold mb-2">{{ page.title }}</h1>
            <p class="text-sm text-primary-950 mb-6"><a href="" class="text-primary-500">{{ page.owner }}</a> - {{ page.created_at|date:"d F Y" }}</p>
            <div class="overflow-hidden rounded-lg mb-6">
                {% image page.blog_image fill-1200x630 class="w-full h-auto" %}
            </div>
            <div class="description text-lg text-primary-950 prose prose-lg max-w-none prose-headings:text-primary-950 prose-p:text-primary-950 prose-a:text-primary-500 hover:prose-a:text-primary-600 prose-strong:text-primary-950 prose-ul:text-primary-950 prose-ol:text-primary-950">
              {{ page.body|richtext }}
            </div>
        </div>

        <div class="p-6 h-fit w-full mt-8" >
            <h2 class="text-primary-950 text-2xl font-semibold mb-4">Info Lainnya</h2>
            <div class="p-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
                <!-- Card 1 -->
                <div class="bg-primary-50 shadow-sm rounded-lg overflow-hidden h-[300px] flex flex-col">
                    <div class="p-4 flex-1">
                        <h3 class="text-primary-950 font-semibold text-xl line-clamp-2">Madrasah Diniyah Manarul Huda</h3>
                        <p class="text-primary-500 text-sm mb-2">By Author • 11 October 2024</p>
                    </div>
                    <img src="https://images.unsplash.com/photo-1729273789373-f17041e81224?q=80&w=1970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Madrasah Diniyah" class="w-full h-48 object-cover">
                </div>
            </div>
          
        </div>
    </div>
</div>

{% endblock %}
