{# Remove wagtailuserbar: #}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}
                    {{ page.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock %}
            {% block title_suffix %}
                 | {{ settings.base.WebsiteSettings.name }}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        {% if page.search_image %}
        <meta name="image" content="{{ page.search_image }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Add supported color schemes: #}
        <meta name="color-scheme" content="light">

        {# Add a favicon with inline SVG: #}
        {% image settings.base.WebsiteSettings.logo original as img %}
        <link rel="icon" href="{{ img.url }}"/>
        <link rel="stylesheet" href="{% static 'dist/css/views/custom.css' %}">
        <link rel="stylesheet" href="{% static 'dist/css/views/output.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dist/css/core.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3W5P8M4KVB"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-3W5P8M4KVB');
        </script>

        {# Global stylesheets #}
        
        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {# Remove  wagtailuserbar: #}

        {% include "includes/header.html" %}
        {% block breadcrumbs %}
          {% breadcrumbs %}
        {% endblock breadcrumbs %}
        {# Wrap your block content  within a <main> HTML5 tag: #}
        <main>
            {% block content %}{% endblock %}
        </main>

        {% include "includes/footer.html" %}

        {# Global javascript #}

        <script type="text/javascript" src="{% static 'dist/js/core.js' %}"></script>

        {% block extra_js %}
        {% endblock %}
    </body>
</html>