{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static gallery_tag %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}

  {% include "includes/home/carousel.html" %}

  <section class="max-w-screen-xl mx-auto my-20 space-y-10 px-8 md:px-6">
    <h3 class="text-center text-2xl md:text-4xl uppercase font-bold">{{ page.featured_section_title }}</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
      <!-- Left Content -->
      <div class="left-content">
        {% with first_post=page.get_featured_posts.first %}
        {% if first_post %}
        <div class="max-w-full rounded-lg">
          <a href="{{ first_post.url }}">
              {% image first_post.specific.blog_image fill-800x500 class="rounded-t-lg w-full object-cover" %}
          </a>
          <div>
              <a href="{{ first_post.url }}">
                  <h5 class="mb-2 text-2xl md:text-3xl lg:text-4xl font-bold tracking-tight text-gray-900">{{ first_post.title }}</h5>
              </a>
              <p class="mb-3 font-normal text-base lg:text-lg text-gray-700">{{ first_post.specific.subtitle }}</p>
          </div>
        </div>
        {% endif %}
        {% endwith %}
      </div>
      <!-- Right Content -->
      <div class="right-content grid grid-cols-2 gap-5">
        {% for post in page.get_featured_posts|slice:"1:5" %}
        <div class="max-w-full rounded-lg">
          <a href="{{ post.url }}">
              {% image post.specific.blog_image fill-400x250 class="rounded-t-lg w-full object-cover" %}
          </a>
          <div>
              <a href="{{ post.url }}">
                  <h5 class="mb-2 text-lg md:text-base lg:text-2xl font-bold tracking-tight text-gray-900">{{ post.title }}</h5>
              </a>
              <p class="font-normal text-sm md:text-base text-gray-700 md:hidden block">{{ post.specific.subtitle }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="text-center">
      <a href="{{ page.featured_section.url }}" class="inline-block text-white bg-primary-500 px-10 py-3 rounded-lg text-sm">Lihat Selengkapnya</a>
    </div>
  </section>


  <section class="bg-primary-600 my-20">
    <div class="py-8 lg:py-12 mx-auto max-w-screen-2xl px-4">
        <div class="grid grid-cols-2 gap-8 text-primary-200 sm:gap-12 md:grid-cols-3 lg:grid-cols-6">
            {% for block in page.cta_selection %}
            <a href="{% if block.value.link %}{{ block.value.link }}{% else %}{{ block.value.external_link }}{% endif %}" class="flex flex-col justify-center items-center uppercase text-lg md:text-2xl font-semibold gap-3">
              {% if block.value.icon %}
                {% image block.value.icon original as icon %}
                <div class="icon-cta">
                  <img src="{{ icon.url }}" class="hidden">
                </div>
              {% endif %}
              {{ block.value.title }}
            </a>
            {% endfor %}
        </div>
    </div>
  </section>
  {% if page.about_us_title or page.about_us_text or page.about_us_card %}
    {% include "includes/home/about_us.html" %}
  {% endif %}

  <section class="max-w-screen-xl mx-auto my-20 px-8 text-center">
    <h2 class="text-2xl md:text-4xl font-bold mb-10">{{ page.collection_introduction }}</h2>
    <!-- Galeri Gambar -->
    {% gallery page.collection %}
    <!-- Tombol Lihat Selengkapnya -->
    <div class="text-center mt-10">
      <a href="{{ page.collection_link.url }}" class="inline-block text-white bg-primary-500 px-10 py-3 rounded-lg text-sm">Lihat Selengkapnya</a>
    </div>
  </section>

  <script>
  document.querySelectorAll('.icon-cta').forEach(container => {
    const imgElement = container.querySelector('img');
    if (imgElement) {
      fetch(imgElement.src)
        .then(response => response.text())
        .then(svgContent => {
          container.innerHTML = svgContent;
          const svg = container.querySelector('svg');
          if (svg) {
            svg.classList.add('fill-primary-200', 'w-10', 'h-10', 'md:w-12', 'md:h-12', 'lg:w-16', 'lg:h-16', 'fill-current');
          }
        })
        .catch(error => console.error('Error loading SVG:', error));
    }
  });
  </script>

{% endblock content %}
